body {
	font-family: Helvetica, Arial, sans-serif;
}
body>div {
	float: left;
}

ul.bar_list li {
	border: 1px solid #bbb;
	border-width: 1px;
	padding: 0.5em;
	background: #fdfdfd;
	margin: 3px 0;
	cursor: pointer;
	overflow: hidden;
	text-align: center;
}

.people_list {
	background-color: #eee;
	border: 1px solid #aaa;
	padding: 5px;
}
.people_list ul li {
	border-width: 1px 0;
	text-align: left;
	padding: 0.5em 2em;
}
.people_list #new_person {
	margin: 0 1em;
}
.people_list .ui-draggable-dragging {
	z-index: 20;
	border-width: 1px;
}

.expense_input ul li {
	text-align: center;
	background: #eee;
}

.expense_input {
	height: 100%;
	padding: 0;
}

.expense_input .buyers_input {
	height: 100%;
	border-right: 1px solid #aaa;
	padding: 0;
	float: left;
	overflow: hidden;
}
.expense_input .buyers_input>div {
	padding: 1em 1em;
	height: 25%;
}
.expense_input .buyers_input>div+div {
	height: 75%;
	border-top: 0.1em solid #aaa;
}
.expense_input .buyers_input>div.drop-hover {
	border: 0.3em solid #cc0000;
	background: #ffeeee;
	box-sizing: border-box;
	padding: 0.75em 0.75em;
}
.expense_input .buyers_input>div+div.drop-hover {
	padding-top: 0.8em;
}

.expense_input .buyers_input h1 {
	margin-left: 0;
}

.expense_input .price .input-group {
	width: 100%;
	margin-bottom: 0.5em;
}
.expense_input .price .btn-default {
	width: 100%;
	margin-top: 0.5em;
}

.totals {
	float: left;
	padding: 1em;
}

h1 {
	color: #cc0000;
	margin: 0 15px;
}
h1:first-child {
	margin-top: 0;
	margin-bottom: 0.4em;
}

@media (max-width: 979px) {
	h1 {
		font-size: 18pt;
	}
}
@media (max-width: 799px) {
	.people_list {
		padding: 5px 5px 15px 5px;
	}
	.people_list #new_person {
		clear: both;
		margin-top: 10px;
	}
	.people_list #new_person.minimized input[type='text'] {
		display: none;
	}
	.people_list ul.bar_list li, .people_list #new_person.minimized input[type='submit'] {
		border: 1px solid #bbb;
		padding: 0;
		width: 4.7em;
		line-height: 4.5em;
		text-align: Center;
		margin: 0 -10px 4px 14px;
		float: left;
		border-radius: 4px;
	}
	.people_list #new_person.minimized input[type='submit'] {
		margin: 0;
		width: 100%;
		line-height: 13px;
	}

	.expense_input .buyers_input {
		display: table;
		border-collapse: separate;
		border: 0;
	}
	.expense_input .buyers_input>div {
		display: table-cell;
	}
	.expense_input .buyers_input div {
		height: auto !important;
		width: 50%;
		border: 0.1em solid #aaa;
		margin-left: 5px;
	}
	.expense_input .buyers_input div:first-child {
		margin-left: 0;
	}
	.expense_input .buyers_input>div.drop-hover {
		border: 0.3em solid #cc0000;
		padding: 0.8em 0.8em;
	}

	.expense_input .price {
		width: 16em;
		margin: 0 auto;
		padding: 1em;
		clear: both;
	}
}

ul.comma {
	margin-bottom: 0;
	display: inline;
}
ul.comma li {
	display: inline;
}
ul.comma li:after {
	content: ', ';
}
ul.comma li:last-child:after {
	content: '';
}

table.table {
	width: 100%;
}
table.table th {
	border-bottom: 3px solid #000099;
}
table.result {
	border: 2px solid #c00;
}
table.result tbody>tr:first-child>td {
	border-top: 0;
}